/* single-column styling */
/* general background styling */

* { padding: 0; margin: 0; }

html{
    height: 100%;
}

body {
    background-color: whitesmoke;
    min-height: 100%;
    color: #333;
    font-size: 14px;
    font-family:
	-apple-system, BlinkMacSystemFont,
    "Helvetica Neue","PingFang-SC-Regular","STHeiti",
    "Helvetica","Arial","Verdana","sans-serif","苹方","宋体","Microsoft YaHei";


    width:100%;
    display: flex;
    align-content: center;
}

div#album-container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display: inline-flex;
}

h1{
    font-family: 'Stick', sans-serif;
    display: inline-flex;
}

div.thumb-container{
    margin-left:auto;
    margin-right:auto;
    max-width: 630px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
}

div.thumb-container a.thumb-link{
    line-height:0px;
    display: inline-block;
}

img.thumb-img{
    width:180px;
    height:180px;
    margin:15px;
    border-color: #AAA;
    border-width:1px;
    border-radius:5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen 
and (max-width: 630px)
and (min-width: 420px) {
    div.thumb-container{
        max-width: 430px;
    }
}

@media screen 
and (max-width: 429px) {
    div.thumb-container{
        max-width: 210px;
    }
}