/* single-column styling */
/* general background styling */
* { padding:0; margin:0; }
html{
    height:100%;
    background-color:black;
}
body {
    min-height:100%;
    line-height:150%;
    color:#333;
    font-size:16px;
    font-family:
	-apple-system, BlinkMacSystemFont,
    "Helvetica Neue","PingFang-SC-Regular","STHeiti",
    "Helvetica","Arial","Verdana","sans-serif","苹方","微软雅黑","雅黑","宋体","Microsoft YaHei";
    background-attachment:fixed;
}
.column {
    width:100%;
    max-width:760px;
    min-height:100%;
    margin:0px auto;
    padding:0px 20px 20px;
    padding-bottom:5px;
	/*border:1px solid rgba(61, 118, 197, 0.05);*/
    border-radius:3px;
    background-color:white; /*#f5f5f5;*/
    /*background:linear-gradient(to bottom, rgba(232,242,253,1), white 300px, white);*/
    /*box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.05);*/
    font-family:-apple-system, BlinkMacSystemFont,
    "Helvetica Neue","PingFang-SC-Regular","STHeiti",
    "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
}
/* title/header styling */
header.header {
    width:100%;
    padding-bottom:1.5em;
	margin-top:0em;
    padding-top:20px;
    margin-left:-100px;
	position:fixed;
	z-index:10;
	background-color:rgba(255, 255, 255, 0);
}
u {
    text-decoration:none;
    border-bottom:1px solid #777;
}
.title {
    /* font-family:"Roboto Mono", Helvetica, serif; */
    font-size:28px;
	font-weight:bold;
	/* font-family:"Lobster"; */
	color:#242C55;
	color:black;/*rgb(55,173,112)*/;
	text-decoration:none;
}
.site-description {
    font-size:12px;
    color:#76B9F2;
	color:black;
}
/* general paragraph styling */
p {
    line-height:150%;
}
/* image styling */
/* link styling */
a {
    text-decoration:underline;
    color:inherit;
}
a:hover {
    color:#242C55;
	color:black;
}
/* list styling */
ul {
    margin-left:20px;
    list-style-type:circle;
}
ol {
    list-style-type:decimal;
}
li {
    line-height:150%;
	margin:0.6em 0;
    list-style-type: none;
}
li span.num{
    display: inline-block;
    width:1.5em;
    text-align: right;
    height:100%;
}
li span.right{
    margin-right:.3em;
}
/* blockquote styling */
/* hr/bar styling */
hr {
    margin-bottom:1.5em;
    margin-top:1.5em;
    border:0;
    height:0;
    border-top:1px dashed #aaa;
}
h2 {
    font-family:Helvetica, sans-serif;
	font-size:16px;
	margin:2em 0 1em;
	letter-spacing:0.2em;
}
h4 {
    padding:1.5em 0 0.8em;
    margin-bottom:0.8em;
	border-bottom:1px solid rgb(200,200,200);
	font-size:18px;
	font-weight:normal;
}
body{
    display:flex;
    align-items:center;
}
section#album-info-section{
    margin-top:0px;
    display:flex;
    /* align-items:center; */
}
#album-container{
    margin-left:auto;
    margin-right:auto;
    width:900px;
    color:white;
    overflow:auto;;
}
div#album-cover-container{
    width:49%;
    display:inline-block;
}
div#album-info-container{
    width:49%;
    display:inline-block;
}
div#album-cover-container>div{
    max-width:400px;
    min-width:200px;
    margin:10px 15px 10px;
    position:relative;
}
div#album-cover-container>div::after{
    content:"";
    display:block;
    width:100%;
    height:100%;
    margin:0;
    border-radius:8px;
    position:absolute;
    top:0;
    left:0;
    z-index:50;
    background:radial-gradient(ellipse at top, rgba(255, 255, 255, 15%), transparent 40%);
}
img#album-cover{
    width:100%;
    margin:0;
    border-radius:8px;
    box-shadow:0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
div#album-info-container>div{
    margin-left:5px;
    margin-right:auto;
    max-width:400px;
    min-width:200px;
    padding:10px;
}
#song-list {
    color:white;
    height:480px;
    overflow-y:auto;
}
#song-list blockquote p{
    padding-left:34px;
    color:rgba(255, 255, 255, 0.7);
    line-height:100%;
    font-size:14px;
}

div#album-info-container .bonus{
    color:rgba(255, 255, 255, 0.7);
    font-weight: bold;
}
div#album-info-container li em{
    margin-left:1em;
    font-style:normal;
    color:tomato;
}
/* scroll-bar */
#song-list::-webkit-scrollbar {
    width:6px;
    background-color:rgba(255, 255, 255, 0);
    border-radius:3px;
}
#song-list::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, 0.25);
    border-radius:3px;
}
/* album title */
.album-meta{
    color:white;
}
.album-title{
    font-size:20px;
    font-weight:bold;
    color:white;
}
.album-artist{
    font-size:20px;
    color:rgba(255, 255, 255, 0.7);
    display:inline-block;
    margin-right:0.5em;
}
.album-medium{
    font-size:8px;
    color:rgba(255, 255, 255, 0.7);
    display:inline-block;
    margin-right:0.5em;
}
/* navigation bar */
div#navigation{
    /* position:fixed; */
    width:100%;
    height:20px;
    z-index:100;
    color:rgba(255, 255, 255, 0.5);
}
div#buttons{
    width:100%;
    margin:0 auto ;
    display:flex;
    flex-direction:row;
}
div#navigation a.button{
    flex:initial;
    padding:4px 6px;
    width:20px;
    text-decoration:none;
    color:rgba(255, 255, 255, 0.5);
    font-size:18px;
}
div#navigation a.button:hover{
    color:white;
}
a#next{
    text-align:right;
}
span{
    flex:auto;
}
@media screen
and (max-width:700px)
and (min-width:451px){
    div#navigation{
        position:fixed;
    }
    body{
        width:100%;
        align-items:unset;
    }
    section#album-info-section{
        margin-top:10px;
        display:block;
        align-items:unset;
    }
    #album-container{
        margin-left:0px;
        margin-right:0px;
        width:100%;
        color:white;
    }
    div#album-cover-container{
        width:100%;
        display:block;
    }
    div#album-info-container{
        width:100%;
        display:block;
    }
    div#album-cover-container>div{
        margin-left:auto;
        margin-right:auto;
        margin-top:40px;
        margin-bottom:30px;
        width:400px;
    }
    div#album-cover-container>div::after{
        top:0;
        left:0;
    }
    div#album-info-container>div{
        margin-left:auto;
        margin-right:auto;
        padding:30px;
        width:400px;
        padding-top:10px;
    }
    .album-title{
        display:inline-block;
        margin-right:0.5em
    }
    .album-artist{
        display:inline-block;
    }
    div#navigation{
        display:flex;
    }
    div#song-list{
        height:auto;
        max-height:none;
        overflow-y:auto;
    }
}
@media screen
and (max-width:450px){
    div#navigation{
        position:fixed;
    }
    body{
        width:100%;
        align-items:unset;
    }
    section#album-info-section{
        margin-top:10px;
        display:block;
        align-items:unset;
    }
    #album-container{
        width:100%;
        margin-left:0px;
        margin-right:0px;
        color:white;
    }
    div#album-cover-container{
        width:100%;
        display:block;
    }
    div#album-info-container{
        width:100%;
        display:block;
    }
    div#album-cover-container>div{
        margin-left:30px;
        margin-right:30px;
        margin-top:30px;
        margin-bottom:10px;
    }
    div#album-info-container>div{
        margin-left:auto;
        margin-right:auto;
        padding:30px;
        padding-top:10px;
    }
    .album-title{
        display:inline-block;
        margin-right:0.5em
    }
    .album-artist{
        display:inline-block;
    }
    div#song-list{
        height:auto;
        max-height:none;
        overflow-y:auto;
    }
}
@media screen 
and (min-width:700px) {
    div#song-list{
        overflow-y:auto;
    }
    div#album-container{
        max-width:900px;
        display:flex;
        flex-direction:row;
    }
    div#navigation{
        margin-top:10px;
        width:40px;
        height:100%
    }
    a#prev{
        order:1;
    }
    a#next{
        order:2;
    }
    a#back{
        order:3;
    }
    div#buttons{
        width:30px;
        flex-direction:column;
    }
    div#buttons>a.button{
        text-align:center;
    }
    section#album-info-section{
        padding-left:0px;
        padding-right:20px;
        flex:auto;
    }
}