/* single-column styling */
/* general background styling */

* { padding: 0; margin: 0; }

html{
    height: 100%;
    background-color: white/*#E8F2FD*/; /*#f6f9fa;*/ /*ededed;*/
}

body {
    min-height: 110%;
    line-height: 180%;
    color: #333;
    font-size: 14px;
    font-family:
	-apple-system, BlinkMacSystemFont,
    "Helvetica Neue","PingFang-SC-Regular","STHeiti",
    "Helvetica","Arial","Verdana","sans-serif","苹方","宋体","Microsoft YaHei";
}

section#main {
    padding-left: 0;
    margin-left: -10px;
	margin-top:70px;
}

.column {
    width: 100%;
    max-width: 760px;
    min-height: 100%;

    margin: 0px auto;

    padding: 0px 20px 20px;
    padding-bottom: 5px;

	/*border:1px solid rgba(61, 118, 197, 0.05);*/
    border-radius: 3px;
    background-color: white; /*#f5f5f5;*/
    /*background: linear-gradient(to bottom, rgba(232,242,253,1), white 300px, white);*/

    /*box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);*/

    font-family: -apple-system, BlinkMacSystemFont,
    "Helvetica Neue","PingFang-SC-Regular","STHeiti",
    "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
}

/* title/header styling */

header.header {
    width: 100%;
    padding-bottom: 1.5em;
	margin-top: 0em;
	padding-top:20px;
	position:fixed;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.85);
}

u {
    text-decoration: none;
    border-bottom: 1px solid #777;
}

.title {
    /* font-family: "Roboto Mono", Helvetica, serif; */
    font-size: 18px;
	font-weight: bold;
	font-family: "Lobster";
	color:#242C55;
	color:rgb(55,173,112);
	text-decoration:none;
}

.site-description {
    font-size: 12px;
    color:#76B9F2;
	color:black;
}

/* post styling */
article.post {
    /*margin-left: -20px;
    margin-right: -20px;*/
    padding:10px 10px 10px 10px;
    background-color: inherit;
    /*border-top: 3px dotted white;*/
}

article.post:hover{
    background-color: white;
}

article#content{
    padding-left: 10px;
}

.post-header {
    margin-bottom: 30px;
    padding-left: 10px;
    /* padding-bottom: 10px; */

    width: 100%;
    /* border-bottom: 1px solid #ededed; */
}

.post-summary-header {
	/* padding-top: 10px;
	padding-bottom: 10px; */

    width: 100%;
}

.post-title {
    font-family: Helvetica, "PingFang-SC-Regular", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#242C55;
	color:black
}

.post-title a{
	color:#242C55;
	color:black;
	text-decoration:none;
}

header.post-header .post-title {
	font-weight: 700;
	font-size: 24px;
	margin: 10px 0 0 0;
	color:#242C55;
	color:black;
}

.post-meta {
    font-size: 13px;
    color: grey;
	font-family: Helvetica, "PingFang-SC-Regular", sans-serif;
    margin-top:-5px;
}

header.post-header .post-meta {
    font-size: 14px;
	margin: -5px 0 20px 0;
}

/*/ Markdown Styling Below /*/

/* general paragraph styling */

p {
    line-height: 150%;
}

article#content p {
	margin:20px 0;
    padding-left: 0px;
}

article#content a {
	color: #242C55; /*#4A78C0;*/
	color:black;
	text-decoration: underline;
}

article#content li p {
	margin:10px 0;
}

/* image styling */

img {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* link styling */

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: #242C55;
	color: black;
}

/* list styling */

ul {
    margin-left: 20px;
    list-style-type: circle;
}

ol {
    margin-left: 20px;
    list-style-type: decimal;
}

li {
    line-height: 180%;
	margin: 0.5em 0;
}
/* blockquote styling */

blockquote {
    border-left: 4px solid rgb(55,173,112);
    padding: 0.1em 0.5em;
	margin: 20px 0;
    /*margin-left: -10px;
    margin-right: -10px;*/
    color: #6e6e6e;
    background-color: #f5f5f5;
}

article#content blockquote p {
    padding: 0em;
    margin: 1em;
    font-size: 14px;
}

/* hr/bar styling */

hr {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border: 0;
    height: 0;
    border-top: 1px dashed #aaa;
}

h2 {
    font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin:2em 0 1em;
	letter-spacing: 0.2em;
}

h4 {
    padding: 1.5em 0 0.8em;
    margin-bottom: 0.8em;
	border-bottom: 1px solid rgb(200,200,200);
	font-size:18px;
	font-weight:normal;
}

/* table styling */

table {
    left: 0;
    right: 0;
    margin: 0 auto;

    margin-top: 10px;
    margin-bottom: 10px;

    border-collapse: collapse;
}

td, th {
    padding: 3px;
    padding-left: 5px;
    padding-left: 5px;
}

thead tr th {
    border-bottom: 1px solid #000;
}

tbody tr td {
    border-bottom: 1px solid #ededed;
}

tbody tr:last-child td {
    border: none;
}

/* footer styling */

footer.bottom-footer {
    margin-top: 15px;
    padding-top: 10px;

	color: #b8c0cc;

    width: 100%;

    font-size: 10px;
}

/* code block styling */

pre {
	background-color: #f8f8f8;
    color: #fff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

pre {
	border:none;
}

pre code{
	line-height: 150%;
    font-size: 12px;
    color: #333333; /*#62F591;*/
}

li code , p code{
	/* color: #555;
	background-color: rgba(0, 0, 0, 0.04); */
    font-size: 12px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 3px;
	padding:0.2em 0.4em 0.2em;
	margin-left:0.2em;
	margin-right:0.2em;
}
/*
@media screen
and (max-device-width:768px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){
    .column {
        -webkit-text-size-adjust: 180%;
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        line-height: 180%;
    }
}
*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* single-column styling */
/* general background styling */

* { padding: 0; margin: 0; }

html{
    height: 100%;
    background-color: white/*#E8F2FD*/; /*#f6f9fa;*/ /*ededed;*/
}

body {
    min-height: 110%;
    line-height: 180%;
    color: #333;
    font-size: 14px;
    font-family:
	-apple-system, BlinkMacSystemFont,
    "Helvetica Neue","PingFang-SC-Regular","STHeiti",
    "Helvetica","Arial","Verdana","sans-serif","苹方","宋体","Microsoft YaHei";
}

section#main {
    padding-left: 0;
    margin-left: -10px;
	margin-top:70px;
}

.column {
    width: 100%;
    max-width: 760px;
    min-height: 100%;

    margin: 0px auto;

    padding: 0px 20px 20px;
    padding-bottom: 5px;

	/*border:1px solid rgba(61, 118, 197, 0.05);*/
    border-radius: 3px;
    background-color: white; /*#f5f5f5;*/
    /*background: linear-gradient(to bottom, rgba(232,242,253,1), white 300px, white);*/

    /*box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);*/

    font-family: -apple-system, BlinkMacSystemFont,
    "Helvetica Neue","PingFang-SC-Regular","STHeiti",
    "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
}

/* title/header styling */

header.header {
    width: 100%;
    padding-bottom: 1.5em;
	margin-top: 0em;
	padding-top:20px;
	position:fixed;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.85);
}

u {
    text-decoration: none;
    border-bottom: 1px solid #777;
}

.title {
    /* font-family: "Roboto Mono", Helvetica, serif; */
    font-size: 18px;
	font-weight: bold;
	font-family: "Lobster";
	color:#242C55;
	color:rgb(55,173,112);
	text-decoration:none;
}

.site-description {
    font-size: 12px;
    color:#76B9F2;
	color:black;
}

/* post styling */
article.post {
    /*margin-left: -20px;
    margin-right: -20px;*/
    padding:10px 10px 10px 10px;
    background-color: inherit;
    /*border-top: 3px dotted white;*/
}

article.post:hover{
    background-color: white;
}

article#content{
    padding-left: 10px;
}

.post-header {
    margin-bottom: 30px;
    padding-left: 10px;
    /* padding-bottom: 10px; */

    width: 100%;
    /* border-bottom: 1px solid #ededed; */
}

.post-summary-header {
	/* padding-top: 10px;
	padding-bottom: 10px; */

    width: 100%;
}

.post-title {
    font-family: Helvetica, "PingFang-SC-Regular", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#242C55;
	color:black;
    margin-bottom: 5px;
}

.post-title a{
	color:#242C55;
	color:black;
	text-decoration:none;
}

header.post-header .post-title {
	font-weight: 700;
	font-size: 24px;
	margin: 10px 0 0 0;
	color:#242C55;
	color:black;
}

.post-meta {
    font-size: 13px;
    color: grey;
	font-family: Helvetica, "PingFang-SC-Regular", sans-serif;
    margin-top:-5px;
    margin-bottom: 0px;
}

header.post-header .post-meta {
    font-size: 14px;
	margin: -5px 0 20px 0;
}

/*/ Markdown Styling Below /*/

/* general paragraph styling */

p {
    line-height: 150%;
}

article#content p {
	margin:20px 0;
    padding-left: 0px;
}

article#content a {
	color: #242C55; /*#4A78C0;*/
	color:black;
	text-decoration: underline;
}

article#content li p {
	margin:10px 0;
}

/* image styling */

img {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* link styling */

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: #242C55;
	color: black;
}

/* list styling */

ul {
    margin-left: 20px;
    list-style-type: circle;
}

ol {
    margin-left: 20px;
    list-style-type: decimal;
}

li {
    line-height: 180%;
	margin: 0.5em 0;
}
/* blockquote styling */

blockquote {
    border-left: 4px solid rgb(55,173,112);
    padding: 0.1em 0.5em;
	margin: 20px 0;
    /*margin-left: -10px;
    margin-right: -10px;*/
    color: #6e6e6e;
    background-color: #f5f5f5;
}

article#content blockquote p {
    padding: 0em;
    margin: 1em;
    font-size: 14px;
}

/* hr/bar styling */

hr {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border: 0;
    height: 0;
    border-top: 1px dashed #aaa;
}

h2 {
    font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin:2em 0 1em;
	letter-spacing: 0.2em;
}

h4 {
    padding: 1.5em 0 0.8em;
    margin-bottom: 0.8em;
	border-bottom: 1px solid rgb(200,200,200);
	font-size:18px;
	font-weight:normal;
}

/* table styling */

table {
    left: 0;
    right: 0;
    margin: 0 auto;

    margin-top: 10px;
    margin-bottom: 10px;

    border-collapse: collapse;
}

td, th {
    padding: 3px;
    padding-left: 5px;
    padding-left: 5px;
}

thead tr th {
    border-bottom: 1px solid #000;
}

tbody tr td {
    border-bottom: 1px solid #ededed;
}

tbody tr:last-child td {
    border: none;
}

/* footer styling */

footer.bottom-footer {
    margin-top: 15px;
    padding-top: 10px;

	color: #b8c0cc;

    width: 100%;

    font-size: 10px;
}

/* code block styling */

pre {
	background-color: #f8f8f8;
    color: #fff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

pre {
	border:none;
}

pre code{
	line-height: 150%;
    font-size: 12px;
    color: #333333; /*#62F591;*/
}

li code , p code{
	/* color: #555;
	background-color: rgba(0, 0, 0, 0.04); */
    font-size: 12px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 3px;
	padding:0.2em 0.4em 0.2em;
	margin-left:0.2em;
	margin-right:0.2em;
}
/*
@media screen
and (max-device-width:768px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){
    .column {
        -webkit-text-size-adjust: 180%;
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        line-height: 180%;
    }
}
*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

span.menu-bar{
    margin-left:20px;
    margin-right:20px;
    font-size: 20px;
}

span.menu-bar>a{
    text-decoration:none;
}
